/***************
BASIC STYLING
***************/
.content{
  margin: auto;
  max-width: 60%;
  padding: 10px;
}
h1, h2{
	text-align: center;
}
hr{
	max-width: 700px;
}
.sakEtt{
	overflow: auto;
	padding-bottom: 10px;
	border-bottom: solid black 1px;
}
/***************
HIDER
***************/
button{
	display: inline;
}
#newMagic{
	display: none;
}

.hider{
	width: 48%;
	padding-left: 2%;
	float: left;
	margin-top: 2.5%;
}

/****************
COMMENTS
****************/
.comment{
	width: 47%;
	border-right: 1px solid black;
	padding-right: 2%;
	float: left;
}
.dubbelfnuttar{
	color: red;
}
code{
	background-color: lightgray;
}