.wrapper{
	margin: 0, auto;
}
button{
	display: inline;
}
#newMagic{
	display: none;
}
.dubbelfnuttar{
	color: red;
}
code{
	background-color: #C3BBB9;
}
.code{
	display: block;
}
.comment{
	max-width: 500px;
	border-right: 1px solid black;
	padding-right: 10px;
}