/***************
  BASIC STYLING
***************/
.content{
  margin: auto;
  max-width: 60%;
  padding: 10px;
}
h1, h2{
	text-align: center;
}
hr{
	max-width: 700px;
}
.sakEtt{
	overflow: auto;
	padding-bottom: 10px;
	border-bottom: solid black 1px;
}
/*NAV*/
ul{
	max-width: 30%;
	text-align: center;
	margin: 0 auto;
}
li{
	display: inline;
	border-right: 1px solid black;
	padding-right: 5px;
}
li:last-of-type{
	border: none;
}
a{
	text-decoration: none;
	color: black;
}
a:hover{
	text-decoration: underline;
}
a.active{
	font-weight: bold;
}
a.active:hover{
	text-decoration: none;
	border-bottom: 1px solid black;
}
/***************
  HIDER
***************/
button{
	display: inline;
}
#newMagic{
	display: none;
}

.hider{
	width: 48%;
	padding-left: 2%;
	float: left;
	margin-top: 2.5%;
}

/****************
  COMMENTS ON CODE PAGE
  (+ patch notes)
****************/
.comment{
	width: 47%;
	border-right: 1px solid black;
	padding-right: 2%;
	float: left;
	overflow-x: scroll;
}
.dubbelfnuttar{
	color: red;
}
code{
	background-color: lightgray;
}
/****************
  COMMENT PAGE
****************/
